//ARCHIVOS IMPORTADOS
@import url("http://fonts.googleapis.com/css?family=Ubuntu|Titillium+Web|Raleway")
@import "normalize.css"

//COLORES
azuliccf = rgb(0,70,142)
blanco = rgb(255,255,255)
diadomingo = rgb(221,130,140)
grisboton = rgb(221,221,221)
grisazul = rgb(221,221,255)
negro = rgb(0,0,0)

//ESTILOS
*
	color azuliccf
	font-family Raleway

a
	text-decoration none

figure
h1
h2
p
	margin 0
	padding 0

header
	border-bottom 1px solid azuliccf
	overflow hidden
	padding .5em 0
	figure
		float left
		margin 0 2em 0 0
		padding 0 1em

nav
	float left
	height auto
	width 20%
	ul
		li
			display block
			a
				background azuliccf
				border 1px solid azuliccf
				color blanco
				display block
				padding .7em 0
				text-align center
				text-transform uppercase
				&:hover
					background none
					border 1px solid azuliccf
					color azuliccf
					cursor pointer

footer
	border-top 1px solid azuliccf
	clear both
	padding 1em 0 0 2em

section
	float right
	padding 1em 0
	width 78%

ul
	list-style none
	margin 0
	padding 0
	
#fechaactual
	margin 2em 0 0 0
	#mifecha
		background azuliccf
		color blanco

.calendario
	display inline-block
	vertical-align top
	table
		tr
			height 1.5em
			text-align center
			td
			th
				width 3em
			td
				color azuliccf
				&.diaactual
					background azuliccf
					color blanco
				&.domingo
					color rgb(220,20,30)
				&.opciondia:hover
					background grisboton
					color azuliccf
					cursor pointer
			th
				background grisazul
				color azuliccf

.comentarios
	margin 1em 0 0 0
	text-align center
	h2
		background azuliccf
		color blanco		
	input
		&[type="button"]
			border 0
			margin .5em 0 0 0
			padding .5em 0
			width 35%
	textarea
		display block
		margin 0 auto
		width 90%

.configuracionPerfil
	article
		form
			text-align center
			input
				text-align center
			input
			label
			select
				display block
			input
			select
				border 1px solid grisboton
				border-radius 10px
				color rgb(120,120,150)
				margin 0 auto
				padding .5em 1em
				width 250px
				&[type="submit"]
					border-radius 0
					margin 2em auto 2em auto
					width 300px
			label
				margin 1em 0 0 0
	figure
		text-align center
		a
			img
				border-radius 50%
				width 150px
	h2
		margin .5em 0 2em 0

.devocional
	margin-top 1em
	h2
		background azuliccf
		color blanco
		text-align center
	ul
		li
			margin 0 0 5px 0
			text-align center
			a
				background grisboton
				color azuliccf
				display block
				padding .5em 0
				&:hover
					cursor pointer
			div
				display none
				textarea
					display block
					margin 0 auto
					width 90%

.imagenLogo
	width 100px

.infousuario
	position absolute
	padding .5em 1em 0 0 
	right 0
	top 0
	figure
		margin 0
		a
			img
				border-radius 50%
				width 50px
				&:hover
					cursor pointer
	ul
		display inline-block
		margin 0
		li
			a
				&:hover
					cursor pointer

.pasaje
	border 1px solid azuliccf
	margin 1em 0
	padding .5em 2em
	text-align justify
	h2
		background azuliccf
		color blanco
		padding 3px 0 3px 2em
	p
		display inline
		font-family verdana
		&.referencia
			color rgb(180,70,75)
			font-size 1em
			margin 0 1em 0 0
			text-decoration underline
		&.texto
			font-size .9em
			font-style italic

.seccionayuda
	padding .5em 0 .2em 0
	article
		margin .5em auto
		width 90%
		p
			text-align justify
			&.titular
				background grisboton
				padding 5px 0 5px 10px
				&:hover
					cursor pointer
			&.detalle
				font-style italic
				padding .5em 1em
		&.articuloayuda
			display none
	h2
		background azuliccf
		color blanco
		padding .1em 0 .1em 1em
		&:hover
			cursor pointer

.seleccionfecha
	//float left
	display inline-block
	margin 0 1em
	width 300px
	ul
		margin 0 0 5px 0
		li
			display block
			text-align center
			a
				display block
				text-transform uppercase
				&:hover
					cursor pointer
			&.principal
				margin 0 0 5px 0
				a
					background azuliccf
					color blanco
					padding .4em 0
			&.secundario
				display none
				a
					background grisboton
					border 1px solid blanco
					color azuliccf
					padding .2em 0
					&:hover
						text-decoration underline